In [104]:
import pandas as pd

df = pd.read_csv('gender.csv')

In [105]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [106]:
df.head()

,favorite_color,favorite_music_genre,favorite_beverage,favorite_soft_drink,gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F

In [107]:
df.groupby(['favorite_color','gender']).size().reset_index(name='count')

  favorite_color gender  count
0           Cool      F     17
1           Cool      M     20
2        Neutral      F      3
3        Neutral      M      4
4           Warm      F     13
5           Warm      M      9

In [108]:
df.groupby(['favorite_music_genre','gender']).size().reset_index(name='count')

   favorite_music_genre gender  count
0            Electronic      F      2
1            Electronic      M      6
2      Folk/Traditional      F      2
3      Folk/Traditional      M      2
4               Hip hop      F      1
5               Hip hop      M      7
6            Jazz/Blues      F      3
7            Jazz/Blues      M      1
8                   Pop      F     13
9                   Pop      M      4
10         R&B and soul      F      2
11         R&B and soul      M      4
12                 Rock      F     10
13                 Rock      M      9

In [109]:
df.groupby(['favorite_music_genre','gender']).size().reset_index(name='count')

   favorite_music_genre gender  count
0            Electronic      F      2
1            Electronic      M      6
2      Folk/Traditional      F      2
3      Folk/Traditional      M      2
4               Hip hop      F      1
5               Hip hop      M      7
6            Jazz/Blues      F      3
7            Jazz/Blues      M      1
8                   Pop      F     13
9                   Pop      M      4
10         R&B and soul      F      2
11         R&B and soul      M      4
12                 Rock      F     10
13                 Rock      M      9

In [110]:
df.groupby(['favorite_beverage','gender'])['gender'].count()

favorite_beverage  gender
Beer               F         6
                   M         7
Doesn't drink      F         5
                   M         9
Other              F         7
                   M         4
Vodka              F         4
                   M         5
Whiskey            F         5
                   M         4
Wine               F         6
                   M         4
Name: gender, dtype: int64

In [111]:
df.groupby(['favorite_soft_drink','gender'])['gender'].count()

favorite_soft_drink  gender
7UP/Sprite           F          8
                     M          5
Coca Cola/Pepsi      F         17
                     M         15
Fanta                F          6
                     M          8
Other                F          2
                     M          5
Name: gender, dtype: int64

In [112]:
df.gender = df.gender=='M'

In [113]:
X = df.drop(['gender'], axis = 1)
y = df.gender

In [127]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42,stratify=y)

In [128]:
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=False)

train_dicts = X_train.to_dict(orient='records')
test_dicts = X_test.to_dict(orient='records')

In [130]:
X_train = dv.fit_transform(train_dicts)
X_test = dv.transform(test_dicts)

In [131]:
from sklearn.linear_model import LogisticRegression
clf_lr = LogisticRegression()
clf_lr.fit(X_train, y_train)

clf_lr.score(X_test,y_test)

0.8